body {
  cursor: url("https://cdn.jsdelivr.net/gh/zeyfra/zeyfra.github.io@v1.1/images/mouse.webp"), auto;
}
a,
button,
nav {
  cursor: url("https://cdn.jsdelivr.net/gh/zeyfra/zeyfra.github.io@v1.1/images/pointer.webp"), auto;
}
.footer {
  border-top: 2px solid #f6f6f6;
  padding: 3rem 0;
  font-size: 115%;
}
.footer a {
  color: #403e3e;
}
.footer a:link {
  color: #403e3e;
  text-decoration: underline;
}
.footer a:visited {
  color: #00f;
  text-decoration: none;
}
.footer a:hover {
  color: #0681d0;
  text-decoration: underline;
}
.footer a:active {
  color: #0681d0;
  text-decoration: underline;
}
.sidebar {
  left: -8rem;
  width: 8rem;
}
.sidebar.on {
  left: 0;
}
.content.on {
  margin-left: 0 !important;
}
.navbar-toggle {
  left: 9.5rem;
}
.search-form-wrap {
  right: 8rem;
}
@media (min-width: 768px) {
  .outer,
  .wrap {
    width: 80rem !important;
  }
}
@media (max-width: 768px) {
  .tocbot {
    display: none !important;
  }
  .sidebar {
    left: 0;
  }
  .sidebar.on {
    left: -8rem;
  }
  .content {
    transform: translateX(8rem);
  }
  .content.on {
    transform: translateX(0);
  }
}
